<div class="row">
    <form class="col s12" method="post">
        <div class="row">
            <div class="input-field col s6">
                <input id="icon_prefix" name="login" type="text" class="validate">
                <label for="icon_prefix">login</label>
            </div>
            <div class="input-field col s6">
                <input id="icon_password" name="password" type="password" class="validate">
                <label for="icon_password">password</label>
            </div>
        </div>
        <button class="btn btn-primary">Зарегистрироваться</button>
    </form>
</div>