<h1>Регистрация</h1>
<form action="/singup" method="post" class="col s4">
  <div class="row">
    <div class="input-field col s12">
      <input id="name" name="name" type="text" class="validate">
      <label for="name">First Name</label>
    </div>
    <div class="input-field col s12">
      <input id="lastName" name="lastName" type="text" class="validate">
      <label for="lastName">Last Name</label>
    </div>
    <div class="input-field col s12">
      <input id="email" name="email" type="email" class="validate">
      <label for="email">Email</label>
    </div>
    <div class="input-field col s12">
      <input id="phone" name="phone" type="text" class="validate">
      <label for="phone">Phone</label>
    </div>
    <div class="input-field col s12">
      <input id="password" name="password" type="password" class="validate">
      <label for="password">Password</label>
    </div>
    <div class="input-field col s12">
      <button class="waves-effect waves-light btn">Зарегистрироваться</button>
      <a href="/singup/allUsersTest" class="waves-effect waves-light btn">Все пользователи</a>
    </div>
  </div>
</form>